@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* font-family: "Source Sans Pro", sans-serif; */
}

body{
    background-color: #112D4E;
    font-family: 'Play', sans-serif;
}

.gradient-hotspot{
    /* background: linear-gradient(180deg, #AFB1E3 20%, #4da8dc 100%); */
    background: linear-gradient(180deg, #AFB1E3 0.01%, #51AADC 100%);
    filter: brightness(120%);
}

.gradient-hotspot2{
    /* background: linear-gradient(180deg, #AFB1E3 20%, #4da8dc 100%); */
    background: linear-gradient(180deg, #51AADC 0.01%,  #AFB1E3 100%);

    filter: brightness(120%);
}

.gradient-google-maps{
    background: linear-gradient(180deg, #7AACFF 0%, #1A73E8 100%);
    filter: brightness(110%);
}

ScrollBar Properties

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
      background-color: #73A8E7; /* Color of the track */
    }
    
    ::-webkit-scrollbar-track {
      background-color: #112D4E; /* Color of the thumb */
  }
  
  /* For Firefox */
  /* Note: Firefox supports scrollbar-color, so you can use that instead of the below styles */
  /* However, some versions might still require the below styles */
  * {
    scrollbar-color: #73A8E7 #112D4E;
  }
  
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #73A8E7;
}

*::-webkit-scrollbar-track {
    background-color: #112D4E;
  }
  
